$num-pad-columns: 3; 
$num-pad-gap: 4px; 
$num-pad-size: 50px; 

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4%;
  width: 100%;

  background-color: #3f3f3f;
  border-radius: 20px;

  button {
    height: 50px;
    width: 50px;
    font-size: 30px;
  
    border: solid gray 3px;
    border: none;
  
    border-radius: 20%;
    background-color:  #686868;
  }
  
  button:hover {
    background-color: #818080;
  }

  .containerLeft {
    display: flex;
    flex-direction: column;
    align-items: center;

    .keypadCalulatorTop, .keypadCalulator, .keypadCalulatorBottom {
      display: grid;
      gap: $num-pad-gap;
      grid-template-columns: repeat($num-pad-columns, $num-pad-size);
      padding: 2%;
      }
  }

  .containerRight {
    
    .keypadCalulatorRight {
      display: grid;
      gap: $num-pad-gap;
      padding: 4px;
    }
  }
  }