<div class="calculator">
  
  <div class="containerLeft">
    <app-screen-calculator/>
    <div class="keypadCalulatorTop">
      <app-key-calculator></app-key-calculator>
      <app-key-calculator></app-key-calculator>
      <app-key-calculator></app-key-calculator>
    </div>
    <div class="keypadCalulator">
      @for (item of items; track items) {
        <app-key-calculator></app-key-calculator>
      }
    </div>
    <div class="keypadCalulatorBottom">
      <app-key-calculator></app-key-calculator>
      <app-key-calculator></app-key-calculator>
      <app-key-calculator></app-key-calculator>
    </div>
  </div>

  <div class="containerRight">
    <div class="keypadCalulatorRight">
      <app-key-calculator></app-key-calculator>
      <app-key-calculator></app-key-calculator>
      <app-key-calculator></app-key-calculator>
      <app-key-calculator></app-key-calculator>
    </div>
  </div>

</div>